:root {
    --clear-bg-color: #f1f1f1;
    
    /* --clear-txt-color: #ffff; */

    --dark-bg-color: #1d1d1d;
    /* --dark-txt-color: #ffff; */
  }


  html, body{
    margin: 0;
    background-color: #f1f1f1;
  }