:root {
    --clear-bg-color: #e7e7e7;  

    --dark-bg-color: #6f7075;
  }



html, body, .app-container {
  height: 100%;
  margin: 0;
  background-color: var(--clear-bg-color);
}

#root {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}