.cnt-section{
    padding: 5em;
    margin-bottom: 2em;
    background-color: aqua;
}

.cnt-section-clear{
    background-color: var(--clear-bg-color);
}

.cnt-section-dark{
    background-color: var(--dark-bg-color);
}

.section-container {
    flex: 1;
    min-height: 0;
  }